<ng-container *ngIf="genericFormControl.type === FORM_CONTROL_TYPE.TEXTBOX">
    <dynamic-form-textfield
        [textboxFormControl]="genericFormControl"
    >
    </dynamic-form-textfield>
</ng-container>
<ng-container *ngIf="genericFormControl.type === FORM_CONTROL_TYPE.CHECKBOX">
    <dynamic-form-checkbox
        [checkboxFormControl]="genericFormControl"
    >
    </dynamic-form-checkbox>
</ng-container>
<ng-container *ngIf="genericFormControl.type === FORM_CONTROL_TYPE.DROPDOWN">
    <dynamic-form-dropdown
        [formGroup]="formGroup"
        [dropdownFormControl]="genericFormControl"
    >
    </dynamic-form-dropdown>
</ng-container>